@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


.light {
  --background-bg: 200,250,240;
  
  --primary-text: 120,40,60;
  --secondary-text: 70,100,60;

  --text-area-bg: 190,245,240;
  --text-area-text: 70,100,60;

  --button-bg: 120,40,60;
  --button-text: 200,250,240;
  --button-bg-hover: 200,250,240;
  --button-text-hover: 0,0,0;
}

.dark {
  --background-bg: 200,250,240;
  
  --primary-text: 120,40,60;
  --secondary-text: 70,100,60;

  --text-area-bg: 190,245,240;
  --text-area-text: 70,100,60;

  --button-bg: 120,40,60;
  --button-text: 200,250,240;
  --button-bg-hover: 200,250,240;
  --button-text-hover: 0,0,0;
}
